#header, #footer, .image-tools.absolute, .breadcrumbs{
	display: none;
}

/*product img*/
.product-container .product-main{
padding: 0;
}

.product-main .row{
	display: flex;
}

.product-main .row .product-gallery, .product-main .row .product-info{
	width: 50%;
}
/*product img END*/
