/*
Theme Name: Flatsome Child
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/* Import Other Styles */
@import url('styles/vr.css');

/*************** ADD CUSTOM CSS HERE.   ***************/
/*General Settings*/
html {
    scroll-behavior: smooth;
}

:target {
    display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
}

body {
    font-size: 1em;
}
/*General Settings END*/

/*Typo*/
.banner h1{
    font-size: 3em;
}

.banner h2{
    font-size: 2em;
}
/*Typo END*/

/*Footer*/
.absolute-footer{
    display:none;
}

#popup-overlay-close {
	cursor: pointer;
  }
