#link-overlay {
    position: fixed;
    background-color: #fff;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.2em 1.5em 0;
    font-family: sans-serif;
}

#popup-overlay {
    display: none;
    position: fixed;
    background-color: #fff;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.2em 1.5em 0;
    font-family: sans-serif;
    width: 50%;
}

#popup-overlay iframe {
    width: 100%;
    min-height: 50vh;
}